/*full document*/
body {
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

/*Navbar section*/
nav {
    background-color: black;
    border-bottom: 1px solid white;
}

.logo {
    margin-right: 6em;
    color: rgb(255, 183, 0);
}

.nav_content {
    display: flex;
    list-style: none;
    margin: auto;
    padding: 10px;
    justify-content: space-evenly;
    color: white;
    margin: auto;
}

.login {
    font-size: 20px;
    border-radius: 6px;
    background-color: rgb(255, 183, 0);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;

}

.nav_content,
li {
    margin-top: 7px;
}

.box-1 {
    border: 1px solid white;
    border-radius: 7px;
    height: 300px;
    width: 300px;
    background-color: black;

}

.feature {
    text-align: center;
    margin-top: 100px;

}

.feature-content {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin: 100px;

}

.feature-icon {
    font-size: 60px;
}

.feature-title {
    color: rgb(255, 170, 0);
}
.getstartedbtn{
    display: flex;
    justify-content: center;
}
.g-start-btn{
    background-color: blue;
    color: white;
    font-size: larger;
    padding: 20px;
    border: none;
    border-radius: 8px;
    margin-bottom: 50px;
}

/*Footer*/

footer{
    background-color: rgb(10, 10, 10);
    border-top: 1px solid #ffffff;
    padding: 10px;

}
.f-content{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.info{
    width: 200px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}
.f-box1 ul{
    list-style: none;
    width: 200px;

}
.f-box2 ul{
    list-style: none;
    width: 200px;
}
.arrow{
    margin-left: 16px;
}

.copyright{
    display: flex;
    justify-content: center;
}
/*External links*/
.external-link{
    padding: 10px;
}
/*Social*/
.social ul{
    display:flex ;
    list-style: none;
    justify-content: end;
    gap: 20px;
    font-size:24px;
    margin-right: 40px;
   

}

/*Roadmap page*/

/*Roadmap*/
.roadmap{
    height: 300px;
    width: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    

}
.addRoadmap{
    padding: 13px;
    border:none;
    border-radius: 8px;
    width: 300px;
    justify-content: center;
}

.gen-RoadmapBtn{
    width: 7rem;
    height: 3rem;
    color: white;
    border-radius: 9px;
    padding: 5px;
    background-color: rgb(255, 166, 0);
    margin-left: 10px;
}

/*About page*/

/*About section*/
.About{
    display: flex;
    height: 500px;
    justify-content: center;
}

.About-Img{
    margin-top: 100px;
    margin-right: 60px;
    
}
.About-organization{
    width: 400px;
}
/*our moto bullet points*/
.our-moto{
    list-style:circle;
}

/*Login page*/
.login-page {
    height: 500px;
    width: 400px;
    border: 1px solid rgb(255, 187, 0);
    border-radius: 14px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.enter-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 80%;
    border: 1px solid rgb(255, 200, 0);
    margin-bottom: 20px;
    padding: 13px;
    border-radius: 13px;
}

.forgot-btn {
    margin-bottom: 15px;
}

.submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 13px;
    background-color: rgb(255, 157, 0);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    cursor: pointer;
}
